//! **************************************************************************
// Written by: Map P.49d on Mon Feb 09 10:54:52 2015
//! **************************************************************************

SCHEMATIC START;
COMP "XLXN_40" LOCATE = SITE "G3" LEVEL 1;
COMP "XLXN_41" LOCATE = SITE "L3" LEVEL 1;
COMP "XLXN_50" LOCATE = SITE "P6" LEVEL 1;
COMP "XLXN_42" LOCATE = SITE "F3" LEVEL 1;
COMP "XLXN_51" LOCATE = SITE "N5" LEVEL 1;
COMP "XLXN_43" LOCATE = SITE "K3" LEVEL 1;
COMP "XLXN_44" LOCATE = SITE "E2" LEVEL 1;
COMP "XLXN_45" LOCATE = SITE "B4" LEVEL 1;
COMP "XLXN_46" LOCATE = SITE "N3" LEVEL 1;
COMP "XLXN_47" LOCATE = SITE "M5" LEVEL 1;
COMP "XLXN_39" LOCATE = SITE "P11" LEVEL 1;
COMP "XLXN_48" LOCATE = SITE "M11" LEVEL 1;
COMP "XLXN_49" LOCATE = SITE "P7" LEVEL 1;
COMP "XLXN_92" LOCATE = SITE "A7" LEVEL 1;
COMP "XLXN_93" LOCATE = SITE "G1" LEVEL 1;
SCHEMATIC END;

